@using SysLanguages
@model IEnumerable<PartStore.Core.StoreModels.Settings>

@{
    ViewData["Title"] = Lang.Settings;
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">@Lang.New</a>
</p>
<table class="table table-bordered table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Lang.Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Lang.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
