@using SysLanguages;
@model PartStore.Core.StoreModels.Invoices

@{
    ViewData["Title"] = Lang.Print;
}

<br />
<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>@Lang.TaxInvoice</b> <span class="pull-left">#@Html.DisplayFor(model => model.InvoiceNo)</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <address>
                            <h3><strong class="text-danger">A-Z لقطع غيار السيارات</strong></h3>
                            <p class="text-muted m-l-5">
                                بلوك #15، شارع دجلة،
                                <br />المنطقة الصناعية السادسة #6،
                                <br> الشارقة،
                                <br> الإمارات - 33930
                                <br />الرقم الضريبي: 00000000000000
                            </p>
                        </address>
                    </div>
                    <div class="pull-left text-left">
                        <address>
                            <h3>@Lang.ToClient،</h3>
                            <h4 class="font-bold">@Html.DisplayFor(model => model.Account.Title)،</h4>
                            <p class="text-muted m-l-30">
                                @Html.DisplayFor(model => model.Account.Address)
                                <br />
                            </p>
                            <p class="m-t-30"><b>@Lang.InvoiceDate :</b> <i class="fa fa-calendar"></i> @Html.DisplayFor(model => model.AddDate)</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>@Lang.Description</th>
                                    <th class="text-right">@Lang.Quantity</th>
                                    <th class="text-right">@Lang.UnitPrice</th>
                                    <th class="text-right">@Lang.Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.InvoiceDetails)
                                {
                                    <tr>
                                        <td class="text-center">@item.Id</td>
                                        <td>@item.PartName</td>
                                        <td class="text-right">@item.Quantity</td>
                                        <td class="text-right">@item.Price</td>
                                        <td class="text-right">@item.SubTotal</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-left m-t-30 text-left">
                        <p>@Lang.SubTotalAmount: @Html.DisplayFor(model => model.TotalAmount)</p>
                        <p>@Lang.VAT (5%): @Html.DisplayFor(model => model.Tax) </p>
                        <p>@Lang.Discount: @Html.DisplayFor(model => model.Discount) </p>
                        <hr>
                        <h3><b>@Lang.Total :</b> @Html.DisplayFor(model => model.NetAmount)</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <p>
                        @Lang.Remarks: @Html.DisplayFor(model => model.Notes)
                    </p>
                    <div class="text-right">
                        @*<button class="btn btn-danger" type="submit"> Proceed to payment </button>*@
                        <button id="print" class="btn btn-default btn-outline noprint" type="button" onclick="window.print();">
                            <span class="glyphicon glyphicon-print"></span>
                            @Lang.Print
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noprint">
    <a class="noprint" asp-action="Create" asp-route-id="@Model.Id">@Lang.Edit</a> |
    <a class="noprint" asp-action="Index">@Lang.BackToList</a>
</div>
@section Styles{
    <style>
        .card {
            background-color: #fff;
            color: #455a64;
        }

        .btn {
            border-radius: .25rem;
            transition: color .15s ease-in-out،background-color .15s ease-in-out،border-color .15s ease-in-out،box-shadow .15s ease-in-out;
            color: #455a64;
        }

        .card-body .btn span.glyphicon {
            font-size: 1.4rem;
        }
    </style>
}