@using SysLanguages;
@model PartStore.Web.Models.InvoicePrintModel

@{
    ViewData["Title"] = Lang.Print +" "+ Lang.TaxInvoice;
}

<br />
<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>@Lang.TaxInvoice</b> <span class="pull-left">#@Html.DisplayFor(model => model.Invoice.InvoiceNo)</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <h4><strong class="text-danger">@Model.CompanyInfo.FirstOrDefault(a => a.Title.ToLower().Equals("companyname"))?.Value</strong></h4>
                        <address>
                            <p class="text-muted m-l-5">
                                @foreach (var setting in Model.CompanyInfo.Where(a => !a.Title.ToLower().Equals("companyname")))
                                {
                                    @setting.Value <br />
                                }
                            </p>
                        </address>
                    </div>
                    <div class="pull-left text-left">
                        <address>
                            <h3>@Lang.ToClient،</h3>
                            <h4 class="font-bold">@Html.DisplayFor(model => model.Invoice.Account.Title)،</h4>
                            <p class="text-muted m-l-30">
                                @Html.DisplayFor(model => model.Invoice.Account.Address)
                            </p>
                            <br />
                            <p class="m-t-30"><b>@Lang.InvoiceDate :</b> <i class="fa fa-calendar"></i> @Html.DisplayFor(model => model.Invoice.AddDate)</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center" title="مسلسل">#</th>
                                    <th>@Lang.Car</th>
                                    <th>@Lang.PartName</th>
                                    <th class="text-center">@Lang.Quantity</th>
                                    <th class="text-left">@Lang.UnitPrice</th>
                                    <th class="text-left">@Lang.Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int index = 0; }
                                @foreach (var item in Model.Invoice.InvoiceDetails)
                                {
                                    index++;
                                    <tr>
                                        <td class="text-center">@index</td>
                                        <td>@item.ItemId# @item.Item.YearId @item.Item.Make.MakeName-@item.Item.Model.ModelName</td>
                                        <td>@item.PartName</td>
                                        <td class="text-center">@item.Quantity</td>
                                        <td class="text-left"><span class="money">@item.Price</span></td>
                                        <td class="text-left"><span class="money">@item.SubTotal</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-left m-t-30 text-left">
                        <p>@Lang.SubTotalAmount: <span>@Html.DisplayFor(model => model.Invoice.TotalAmount)</span></p>
                        <p>@Lang.VAT (5%): <span class="money">@Html.DisplayFor(model => model.Invoice.Tax)</span> </p>
                        <p>@Lang.Discount: <span class="money">@Html.DisplayFor(model => model.Invoice.Discount)</span> </p>
                        <hr>
                        <h3><b>@Lang.Total :</b> <span>@Html.DisplayFor(model => model.Invoice.NetAmount)</span></h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <p>
                        @Lang.Remarks: @Html.DisplayFor(model => model.Invoice.Notes)
                    </p>
                    <div class="text-right">
                        <button id="print" class="btn btn-default btn-outline noprint" type="button" onclick="window.print();">
                            <span class="glyphicon glyphicon-print"></span>
                            @Lang.Print
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noprint">
    <a class="noprint" asp-action="Create" asp-route-id="@Model.Invoice.Id">@Lang.Edit</a> |
    <a class="noprint" asp-action="Index">@Lang.BackToList</a>
</div>
@section Scripts{
    <script src="~/lib/autoNumeric.js"></script>
    <script>
        $('.money').autoNumeric('init');
    </script>
}
@section Styles{
    <style>
        .card {
            background-color: #fff;
            color: #455a64;
        }

        .btn {
            border-radius: .25rem;
            transition: color .15s ease-in-out،background-color .15s ease-in-out،border-color .15s ease-in-out،box-shadow .15s ease-in-out;
            color: #455a64;
        }

        .card-body .btn span.glyphicon {
            font-size: 1.4rem;
        }

        @@media print {
            html, body {
                font-family: 'Droid Arabic Kufi', Verdana, Geneva, Tahoma, sans-serif
            }
        }
    </style>
}