@using SysLanguages;
@model IEnumerable<PartStore.Core.StoreModels.Invoices>
@{
    ViewData["Title"] = Lang.Invoices;
}

<br />
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">@Lang.New</a>
</p>

<table class="table table-bordered table-responsive table-hover table-striped datatable2">
    <thead>
        <tr>
            <th title="@Lang.InvoiceNo">
                #
            </th>
            <th>
                الإجراء
            </th>
            <th>
                @Lang.Date
            </th>
            <th>
                @Lang.Account
            </th>
            <th>
                @Lang.Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Lang.NetAmount
            </th>
            <th width="100">@Lang.Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetAmount)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" title="@Lang.Print" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-print"></span></a>
                    <a asp-action="Create" asp-route-id="@item.Id" title="@Lang.Edit" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="@Lang.Delete" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th class="active" colspan="7"><span class="pull-left">الاجمالى</span></th>
            <th class="active"><span class="money">@Model.Sum(p => p.NetAmount)</span></th>
            <th class="active"></th>
        </tr>
    </tfoot>
</table>
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.datatable2').DataTable({
                pageLength: 50,
                language: {
                    "url": "/lib/DataTables/Arabic.json"
                }
            });
        });
    </script>
    <script src="~/lib/autoNumeric.js"></script>
    <script>
        $('.money').autoNumeric();
    </script>
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
}