@model IEnumerable<PartStore.Core.StoreModels.Payments>

@{
    ViewData["Title"] = "Payments";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromBank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromBank.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice.InvoiceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Print</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
