@using SysLanguages
@model IEnumerable<PartStore.Core.StoreModels.Payments>

@{
    ViewData["Title"] = Lang.Payments;
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">@Lang.New</a>
</p>
<table class="table table-bordered table-responsive table-hover table-striped datatable2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Lang.BankCache
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Lang.PaymentType
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromBank.Name)
                    @Html.DisplayFor(modelItem => item.ToBank.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invoice.InvoiceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Lang.Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Lang.Print</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Lang.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.datatable2').DataTable({ pageLength: 50});
        });
    </script>
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
}