
@using SysLanguages
@model IEnumerable<PartStore.Core.StoreModels.Payments>

@{
    ViewData["Title"] = Lang.Payments;
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">@Lang.New</a>
</p>
<table class="table table-bordered table-responsive table-hover table-striped datatable2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RefNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Lang.BankCache
            </th>
            <th>
                @Lang.PaymentType
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RefNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromBank.Name)
                    @Html.DisplayFor(modelItem => item.ToBank.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operation.Name)
                    -
                    @Html.DisplayFor(modelItem => item.PaymentType.Name)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            @Lang.Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                            <li>
                                <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-edit text-info"></span>  @Lang.Edit</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a asp-action="Details" asp-route-id="@item.Id"><span class="glyphicon glyphicon-print text-warning"></span> @Lang.Print</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove-circle text-danger"></span> @Lang.Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="active">
            <td>الاجمالى</td>
            <td>@Model.Sum(p=>p.Amount)</td>
            <td colspan="5"></td>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.datatable2').DataTable({
                pageLength: 50,
                language: {
                    "url": "/lib/DataTables/Arabic.json"
                }
            });
        });
    </script>
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
}