@using SysLanguages
@model PartStore.Core.StoreModels.Parts

@{
    ViewData["Title"] = Lang.Delete + " " + Lang.Part;
}

<h2>@ViewData["Title"]</h2>
<h3>@Lang.DeleteConfirm</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Lang.Delete" class="btn btn-default" /> |
        <a asp-action="Index">@Lang.BackToList</a>
    </form>
</div>
