@using SysLanguages
@model IEnumerable<PartStore.Core.StoreModels.Parts>

@{
    ViewData["Title"] = Lang.Parts;
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">@Lang.Create</a>
</p>
<table class="table table-bordered table-hover table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="100"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Lang.Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Lang.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
