@using SysLanguages
@model PartStore.Core.StoreModels.Accounts

@{
    ViewData["Title"] = Lang.Delete;
}

<h2>@Lang.Delete</h2>

<h3>@Lang.DeleteConfirm</h3>
<div>
    <h4>@Lang.Accounts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BalanceIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BalanceIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BalanceOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BalanceOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.More)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.More)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AccountId" />
        <input type="submit" value="@Lang.Delete" class="btn btn-default" /> |
        <a asp-action="Index">@Lang.BackToList</a>
    </form>
</div>
