@model PartStore.Core.StoreModels.Accounts

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Accounts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BalanceIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BalanceIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BalanceOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BalanceOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.More)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.More)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
