@using SysLanguages;
@model IEnumerable<PartStore.Core.StoreModels.Accounts>

@{
    ViewData["Title"] = Lang.Accounts;
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">@Lang.New</a>
</p>
<table class="table table-bordered table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Lang.Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.More)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.AccountTypeId == 1)
                    {
                        <a title="حساب الزبون" asp-action="Client" asp-controller="Invoices" asp-route-id="@item.AccountId">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Title)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.More)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AccountId">@Lang.Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.AccountId">@Lang.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
