@using SysLanguages
@model PartStore.Core.StoreModels.Items

@{
    ViewData["Title"] = Lang.EditCar;
}

<h2>@Lang.Edit</h2>

<h4>Car</h4>
<hr />
<div class="row">
    <form asp-action="Edit" method="post">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="MakeId" class="control-label">@Lang.Make</label>
                <select asp-for="MakeId" class="form-control select2" asp-items="ViewBag.MakeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label">@Lang.Model</label>
                <select asp-for="ModelId" class="form-control select2" asp-items="ViewBag.ModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="YearId" class="control-label">@Lang.Year</label>
                <select asp-for="YearId" class="form-control select2" asp-items="ViewBag.YearId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Vin" class="control-label">@Lang.VIN</label>
                <input asp-for="Vin" class="form-control" />
                <span asp-validation-for="Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotNo" class="control-label"></label>
                <input asp-for="LotNo" class="form-control" />
                <span asp-validation-for="LotNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierCarNo" class="control-label"></label>
                <input asp-for="SupplierCarNo" class="form-control" />
                <span asp-validation-for="SupplierCarNo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RefNo" class="control-label"></label>
                <input asp-for="RefNo" class="form-control" />
                <span asp-validation-for="RefNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Barcode" class="control-label"></label>
                <input asp-for="Barcode" class="form-control" />
                <span asp-validation-for="Barcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label">@Lang.Quantity</label>
                <input asp-for="Qty" class="form-control" value="1" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastCost" class="control-label">@Lang.PurchasePrice</label>
                <div class="input-group">
                    <input asp-for="LastCost" class="form-control" />
                    <div class="input-group-addon">$</div>
                </div>
                <span asp-validation-for="LastCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="More" class="control-label">@Lang.Notes</label>
                <textarea asp-for="More" class="form-control" rows="3"></textarea>
                <span asp-validation-for="More" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Lang.Save" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">@Lang.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/lib/select2/js/i18n/ar.js"></script>
    <script src="~/lib/app/DataService.js"></script>
    <script src="~/lib/app/Common.js?v=1"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/app/car/modelsFilter.js"></script>
}
@section Styles{
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/select2/bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />}