@model IEnumerable<PartStore.Core.StoreModels.Items>

@{
    ViewData["Title"] = "Cars list";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                VIN
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make.MakeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year.YearId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vin)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
