@using SysLanguages
@model IEnumerable<PartStore.Core.StoreModels.Items>

@{
    ViewData["Title"] = Lang.CarsList;
}

<br />
<h3>@ViewData["Title"]</h3>
<div class="row" id="search">
    <form id="search-form">
        <div class="form-group col-sm-3 col-xs-6">
            <a asp-action="Create">@Lang.New</a>
            <label class="pull-left">بحث بحالة السيارة</label>
        </div>
        <div class="form-group col-sm-6 col-xs-6">
            <select class="form-control" id="car-sale-type">
                <option value="">عرض جميع السيارات</option>
                <option value="false">متاحة فقط للبيع</option>
                <option value="true">مباعة</option>
            </select>
        </div>
        <div class="form-group col-sm-3 col-xs-6">
            <button type="button" class="btn btn-block btn-primary btnTopSearch"><span class="glyphicon glyphicon-search"></span> @Lang.Search</button>
        </div>
    </form>
</div>
<table class="table table-bordered table-responsive table-hover table-striped datatable2" id="tblList">
    <thead>
        <tr>
            <th class="text-center" width="40">
                #
            </th>
            <th width="60" class="text-center">
                @Lang.Photo
            </th>
            <th>
                @Lang.Car
            </th>
            <th>
                @Lang.VIN
            </th>
            <th>
                @Lang.LotNo
            </th>
            <th>
                @Lang.Price
            </th>
            <th width="80">@Lang.Options</th>
        </tr>
    </thead>
    <tfoot>
        <tr class="active">
            <th colspan="5">
                <span class="pull-left">الإجمالى</span>
            </th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
}
@section Scripts{
    <script src="~/lib/autoNumeric.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/app/DataService.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/app/Common.js"></script>
    <script src="~/lib/app/gridManager.js"></script>
    <script src="~/lib/app/parts/ItemsListManager.min.js?v=0.2"></script>
}