@using SysLanguages;
@model IEnumerable<PartStore.Core.StoreModels.Banks>

@{
    ViewData["Title"] = Lang.Banks;
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create">@Lang.New</a>
</p>
<table class="table table-bordered table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="100"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a title="@Lang.Balance" asp-action="Balances" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Lang.Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Lang.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
