@using SysLanguages
<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="About">@Lang.About</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Contact">@Lang.Contact</a></li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Lang.CarParts <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Invoices" asp-action="Create">@Lang.AddInvoice</a></li>
            <li><a asp-area="" asp-controller="Invoices" asp-action="Index">@Lang.PartInvoices</a></li>
            <li role="separator" class="divider"></li>
            <li><a asp-area="" asp-controller="Items" asp-action="Create">@Lang.AddCar</a></li>
            <li><a asp-area="" asp-controller="Items" asp-action="Index">@Lang.CarsList</a></li>
            <li role="separator" class="divider"></li>
            <li><a asp-area="" asp-controller="Makes" asp-action="Index">@Lang.Makes</a></li>
            <li><a asp-area="" asp-controller="Models" asp-action="Index">@Lang.Models</a></li>
            <li><a asp-area="" asp-controller="Years" asp-action="Index">@Lang.Years</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @Lang.Payments <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a asp-area="" asp-controller="Payments" asp-action="Create">@Lang.AddPayment</a></li>
            <li><a asp-area="" asp-controller="Payments" asp-action="Index">@Lang.PaymentsList</a></li>
            <li role="separator" class="divider"></li>
            <li><a asp-area="" asp-controller="Accounts" asp-action="Index">@Lang.Accounts</a></li>
            <li><a asp-area="" asp-controller="Banks" asp-action="Index">@Lang.Banks</a></li>
            <li><a asp-area="" asp-controller="PaymentTypes" asp-action="Index">@Lang.PaymentTypes</a></li>
            <li><a asp-area="" asp-controller="Operations" asp-action="Index">@Lang.Operations</a></li>
            <li><a asp-area="" asp-controller="Settings" asp-action="Index">@Lang.Settings</a></li>
        </ul>
    </li>
</ul>