@using SysLanguages
@model PartStore.Core.StoreModels.Makes

@{
    ViewData["Title"] = Lang.Delete;
}

<h2>@Lang.Delete</h2>
<h3>@Lang.DeleteConfirm</h3>
<div>
    <h4>@Lang.Makes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MakeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MakeName)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MakeId" />
        <input type="submit" value="@Lang.Delete" class="btn btn-default" /> |
        <a asp-action="Index">@Lang.BackToList</a>
    </form>
</div>
