@using SysLanguages
@model PartStore.Core.StoreModels.Years

@{
    ViewData["Title"] = Lang.Delete;
}

<h2>@Lang.Delete</h2>
<h3>@Lang.DeleteConfirm</h3>
<div>
    <h4>@Lang.Years</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="YearId" />
        <input type="submit" value="@Lang.Delete" class="btn btn-default" /> |
        <a asp-action="Index">@Lang.BackToList</a>
    </form>
</div>
