@using SysLanguages
@model IEnumerable<PartStore.Core.StoreModels.Years>

@{
    ViewData["Title"] = Lang.Years;
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">@Lang.New</a>
</p>
<table class="table table-bordered table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>@Lang.Year</th>
            <th>@Lang.Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.YearId</td>
                <td width="15%">
                    <a asp-action="Edit" asp-route-id="@item.YearId">@Lang.Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.YearId">@Lang.Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
