@using SysLanguages
@model IEnumerable<PartStore.Core.StoreModels.Operations>

@{
    ViewData["Title"] = Lang.Operations;
}

<h2>@ViewData["Title"]</h2>
<table class="table table-bordered table-responsive table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>@Lang.Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Lang.Edit</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">@Lang.Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
