@model PartStore.Core.StoreModels.Models

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Models</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Make.MakeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
