@using SysLanguages
@model PartStore.Core.StoreModels.Models

@{
    ViewData["Title"] = Lang.Details;
}

<h2>@Lang.Details</h2>

<div>
    <h4>@Lang.Models</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Make.MakeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModelId">@Lang.Edit</a> |
    <a asp-action="Index">@Lang.BackToList</a>
</div>
